body {
    overflow: hidden;
    margin: 0;
  }

.nbPoisson{
    position: absolute;
    width: 35vw;
    top: 20px;
    left: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
}

.sliders {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 60vw;
    top: 20px;
    right: 20px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 60vw;
    top: 60px;
    right: 20px;
}

#species-display {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  background-color: aquamarine;
  z-index: -2;
}

.grid-fishes {
  width: 100vw;
  height: 100vh;
}



#list-fishes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}
.diagram {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.left {
  float: left;
  margin-right: .25em;
}
.right {
  float: right;
  margin-left: .25em;
}